[
  {kernel,
   [{logger_level, debug},

    {logger, [
      {handler, default, logger_std_h,
        #{level => info,
          formatter => {logger_formatter,
                          #{single_line => false,
                            time_offset => "Z",
                             template => [time, " [", level, "] ", pid, "@", mfa, " line: ", line, "\n", msg, "\n"]
                           }
                        },
          config => #{type => {file, "log/info.log"},
                      max_no_bytes => 1048576,
                      max_no_files => 10,
                      compress_on_rotate => true,
                      file_check => 5000,
                      overload_kill_enable => true
          }}},

     {handler, debug_log, logger_std_h,
        #{level => debug,
          formatter => {logger_formatter,
                           #{single_line => false,
                             time_offset => "Z",
                             template => [time, " [", level, "] ", pid, "@", mfa, " line: ", line, "\n", msg, "\n"]
                             }
                       },
          config => #{type => {file, "log/debug.log"},
                      max_no_bytes => 1048576,
                      max_no_files => 10,
                      compress_on_rotate => false,
                      file_check => 5000,
                      overload_kill_enable => true
                     }}}
    ]}]
  }
].
